<header>
  <div id="header-container">
    <p class="daniel">Dan<span class="i">i</span>e<span class="l">l</span></p>
    <nav>
      <a
        class="navLinks"
        href="#about-me"
        [class.active]="scrollService.activeSection === 'about-me'"
        >About me</a
      >
      <a
        class="navLinks"
        href="#skills"
        [class.active]="scrollService.activeSection === 'skills'"
        >Skills</a
      >
      <a
        class="navLinks"
        href="#portfolio"
        [class.active]="scrollService.activeSection === 'portfolio'"
        >Portfolio</a
      >
    </nav>
  </div>
</header>
