header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 20;
  height: 109px;
  background-color: var(--darkBlue);
  // padding: 37px 100px 37px 100px;
}
#header-container {
  width: var(--mainMargin);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 29px;
  & a {
    color: white;
    text-decoration: none;
    font-size: 23px;
  }
}

p {
  font-size: 40px;
  font-weight: bold;
}
.i {
  color: var(--purple);
}
.l {
  color: var(--green);
}
