<header>
  <div id="header-container">
    <p class="daniel">Dan<span class="i">i</span>e<span class="l">l</span></p>
    <nav>
      <a
        class="navLinks"
        href="#about-me"
        [class.active]="
          (scrollEvent | async) >= dS.aboutMeposition - dS.aboutMeHight &&
          (scrollEvent | async) < skillsPosition - dS.skillsHight
        "
        >About me</a
      >
      <a
        class="navLinks"
        href="#skills"
        [class.active]="
          (scrollEvent | async) > dS.skillsPosition - dS.skillsHight &&
          (scrollEvent | async) < dS.portfolioPosition - dS.skillsHight
        "
        >Skills</a
      >
      <a
        class="navLinks"
        href="#portfolio"
        [class.active]="
          (scrollEvent | async) >= dS.portfolioPosition - dS.skillsHight &&
          (scrollEvent | async) < contactPosition + dS.portfolioHight 
        "
        >Portfolio</a
      >
    </nav>
  </div>
</header>
