footer {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 291px;
  border-top: 4px solid var(--green);
}

#footer {
  width: var(--mainMargin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.daniel-link{
  font-size: 42px;
  font-weight: bold;
}
.copyright {
  font-size: 23px;
}

a {
  font-size: 16px;
}

.first-line{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-line{
  display: flex;
  width: 100%;
}

@media(max-width:768px){

  #footer{
    gap: 32px;
  }
  .first-line{
    flex-direction: column;
    gap: 32px;
  }
  .social-media-container{
    justify-content: center;
  }
  .second-line{
    justify-content: center;
    width: 100%;

  }
}