<footer>
  <!-- <section id="footer">
    <div id="footer-link-container">
      <a class="daniel-link" href="#">
        Dan<span class="i">i</span>e<span class="l">l</span>
      </a>

      <a class="regularLink" href="">Impressum</a>
    </div>

    <span class="copyright">&copy; Daniel Blem 2023</span>

    <div class="social-media-container">
      <div class="line"></div>
      <img
        class="socialIcon gitHubIcon"
        src="../../assets/img/icons/gitHubIcon.svg"
        alt="Github Icon"
      />
      <img
        class="socialIcon emailIcon."
        src="../../assets/img/icons/emailIcon.svg"
        alt="Email Icon"
      />
      <img
        class="socialIcon linkedInIcon"
        src="../../assets/img/icons/linkedInIcon.svg"
        alt="LinkedIn Icon"
      />
    </div>
  </section> -->

  <section id="footer">
    <div class="first-line">
      <a class="daniel-link" href="#">
        Dan<span class="i">i</span>e<span class="l">l</span>
      </a>
      <span class="copyright">&copy; Daniel Blem 2023</span>

      <div class="social-media-container">
      
        <img
          class="socialIcon gitHubIcon"
          src="../../assets/img/icons/gitHubIcon.svg"
          alt="Github Icon"
        />
        <img
          class="socialIcon emailIcon."
          src="../../assets/img/icons/emailIcon.svg"
          alt="Email Icon"
        />
        <img
          class="socialIcon linkedInIcon"
          src="../../assets/img/icons/linkedInIcon.svg"
          alt="LinkedIn Icon"
        />
      </div>
    </div>
    <div class="second-line"><a class="regularLink" href="">Impressum</a></div>


  </section>
</footer>
