<footer>
  <section id="footer">
    <div>
      <p class="daniel daniel-footer">
        Dan<span class="i">i</span>e<span class="l">l</span>
      </p>
      <a class="regularLink" href="">Impressum</a>
    </div>

    <span class="copyright">&copy; Daniel Blem 2023</span>

    <div class="social-media-container">
      <div class="line"></div>
      <img
        class="socialIcon gitHubIcon"
        src="../../assets/img/icons/gitHubIcon.svg"
        alt="Github Icon"
      />
      <img
        class="socialIcon emailIcon."
        src="../../assets/img/icons/emailIcon.svg"
        alt="Email Icon"
      />
      <img
        class="socialIcon linkedInIcon"
        src="../../assets/img/icons/linkedInIcon.svg"
        alt="LinkedIn Icon"
      />
    </div>
  </section>
</footer>
