<section id="about-me" #aboutMe>
  <img id="shape2" src="../../assets/img/shape2.svg" />
  <div id="about-me-container">
    <div
      data-aos="slide-right"
      data-aos-delay="225"
      data-aos-duration="4000"
      id="about-me-text-container"
    >
      <h2 data-aos="slide-right" data-aos-duration="4000" data-aos-delay="225">
        About me
      </h2>
      <p style="display: none" class="text-german">
        Als angehender Frontendentwickler, aus dem Landkreis Osnabrück, strebe
        ich danach, in Zukunft als Junior Frontendentwickler Fuß zu fassen. Auf
        meiner Portfolio-Seite präsentiere ich meine bisherigen Projekte und
        teile meine Reise als Webentwickler. Willkommen auf meiner Seite! Ich
        freue mich darauf, Ihnen einen Einblick in meine Arbeit zu geben.
      </p>
      <p class="text-english">
        I am a Junior Frontend Developer from the district of Osnabrück. On my
        portfolio page, I showcase my previous projects and share my journey as
        a web developer. Welcome to my site! I am glad to give you insight into
        my work.
      </p>
      <div class="text-container">
        <img src="../../assets/img/light.svg" alt="glow plug icon" />
        <p style="display: none" class="text-german">
          Meine Begeisterung für die Programmierung kommt besonders dann zum
          Ausdruck, wenn es darum geht, knifflige Probleme zu lösen. Ich
          betrachte jede Programmieraufgabe als eine Herausforderung und
          zugleich als eine ideale Gelegenheit, meine Fähigkeiten weiter zu
          verbessern.
        </p>
        <p>
          I'm really passionate about programming, especially when it comes to
          solving tough problems. I see every coding task as a chance to
          challenge myself and get better and improve my skills.
        </p>
      </div>
      <div class="text-container">
        <img src="../../assets/img/puzzle.svg" alt="puzzle icon" />
        <p style="display: none" class="text-german">
          Ein bedeutendes Ziel ist es für mich, aktiv an einzigartigen Projekten
          teilzunehmen. Die Zusammenarbeit in Teams, die meine Leidenschaft für
          innovative Lösungen teilen, ist für mich von besonderem Wert. Dabei
          geht es nicht nur darum, meine Fähigkeiten zu schärfen, sondern auch
          konkrete Probleme kreativ zu bewältigen. Insgesamt strebe ich danach,
          mich kontinuierlich weiterzuentwickeln, um schließlich in Zukunft
          irgendwann als Full-Stack-Entwickler tätig zu sein.
        </p>
        <p>
          A big goal for me is to join interesting projects actively. Working
          with teams who share my love for creative solutions is really
          important to me. It's not just about getting better at what I do, but
          also about finding new and creative ways to solve problems. Overall, I
          want to keep growing and eventually become a full-stack developer in
          the future.
        </p>
      </div>
    </div>
    <div
      data-aos="slide-left"
      data-aos-duration="4000"
      id="circle-pic-container"
    >
      <div class="green-circle">
        <img src="../../assets/img/me2.png" />
      </div>
      <div id="about-me-line"></div>
    </div>
  </div>
</section>
