#contact {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 3;
}

#contact-container {
  display: flex;
  flex-direction: column;

  width: var(--mainMargin);

  & h2 {
    font-size: 90px;
  }

  .small-line-contact {
    position: absolute;
    top: 142px;
    left: 0;
    height: 4px;
    width: 60px;
    background-color: var(--purple);
    z-index: 5;
  }
}

#form-container{
  display: flex;
}
