<section id="contact">
  <div id="contact-container">
    <div class="small-line-contact"></div>

    <h2>Contact</h2>
    <div id="form-container">
      <div class="text-container">
        <h3>Got a problem to solve?</h3>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>
      <form action="https://daniel-blem.developerakademie.net/Portfolio/send_mail/send_mail.php" method="post">
        <input type="text" name="name" />
        <textarea type="text" name="message"></textarea>
        <button>Senden</button>
        <!-- <input type="email" name="email" id="name" /> -->
        <!-- <input type="checkbox" name="" id="checkbox" /> -->
      </form>
    </div>
  </div>
</section>
