#contact {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 3;
}

#contact-container {
  display: flex;
  flex-direction: column;

  width: var(--mainMargin);

  & h2 {
    font-size: 90px;
  }
}
.small-line-contact {
  position: absolute;
  top: 142px;
  left: 0;
  height: 4px;
  width: 60px;
  background-color: var(--purple);
  z-index: 5;
}

#form-container {
  display: flex;
  justify-content: space-between;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.text-container {
  width: 40%;

  & h3 {
    font-size: 32px;
  }
}

input,
textarea {
  border-radius: 10px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--purple);
  color: white;
  padding: 15px, 25px, 15px, 25px;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: none;
    border: 1px solid var(--green);
  }

  &::content {
    padding-left: 15px;
  }
}

textarea {
  height: 200px;
  min-height: 50;
  &:focus {
    outline: none;
    border: 1px solid var(--green);
  }

  &::content {
    padding-top: 15px;
  }
}
#checkbox-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background: green;
}

.policy-link {
  text-decoration: none;
  color: var(--purple);

  &:hover {
    text-decoration: underline;
  }
}

.pageUp{
  width: 40px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 50px;
}