<section id="contact">
  <div id="contact-container">
    <div class="small-line-contact"></div>

    <h2>Contact</h2>
    <div id="form-container">
      <div class="text-container">
        <h3>Got a problem to solve?</h3>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>

      <form (submit)="sendMail()" ngNativeValidate #myForm="ngForm">
        <input
          type="text"
          name="name"
          placeholder="Your name"
          #nameField="ngModel"
          [(ngModel)]="formData.name"
          required
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Your email"
          #emailField="ngModel"
          [(ngModel)]="formData.email"
          required
        />
        <textarea
          type="text"
          name="message"
          placeholder="Your message"
          #messageField="ngModel"
          [(ngModel)]="formData.message"
          required
        ></textarea>
        <div id="checkbox-container">
          <input required type="checkbox" name="privacy policy" id="policy" />
          <p>
            I've read the <a class="policy-link" href="">privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
        </div>
        
        <button class="button-grey" type="submit" [disabled]="!myForm.valid">Send message :)</button>
        <img class="pageUp" src="../../assets/img/icons/Go up button.svg" alt="Up Page Arrow">
      </form>
    </div>
  </div>
</section>
