<section id="intro">
  <img class="shape1" src="../../assets/img/shap1.png" alt="" />
  <div id="intro-container">
    <div id="me-container">
        <img class="greenPurpleShadow" src="../../assets/img/greenPurpleShadow.svg" alt="" />
        <img id="me" src="../../assets/img/me.png" alt="" />
    </div>

    <div id="introduceing-container">
      <span>I am</span>
      <div class="text-container">
        <span>Daniel Blem</span>
        <span>Frontend Developer</span>
      </div>
    </div>
  </div>
</section>
