#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  gap: 25px;
}

#intro-container {
  width: var(--mainMargin);
  display: flex;
  align-items: center;
  gap: 50px;
}
.shape1 {
  position: absolute;
  top: 250px;
  right: 0;
  width: 100%;
  z-index: 2;
}
#me-container {
  position: relative;
}

#me {
  position: relative;
  top: 120px;
  z-index: 1;
  height: 705px;
  object-fit: contain;
}

.green-purple-shadow {
  position: absolute;
  top: 170px;
  left: -50px;
  z-index: 0;
}

#introduceing-container {
  display: flex;
  align-items: center;
  z-index: 10;
  flex-direction: column;
}

.text-container {
  display: flex;

  > span:first-child {
    font-size: 64px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    height: 175px;
  }
}

.name-container {
  display: flex;
  flex-direction: column;

  & span:first-child {
    font-size: 90px;
    font-weight: bold;
    height: 108px;
  }

  & span:nth-child(2) {
    font-size: 58px;
    color: var(--purple);
    height: 70px;
  }
}

#references-line {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
}

.line {
  width: 151px;
  height: 4px;

  background-color: var(--purple);
}


.scrollDown {
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 64px;
  writing-mode: vertical-rl;
  & svg {
    fill: white;
    transition: 125ms ease-in;
    z-index: 10;
    cursor: pointer;
  }
  & a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &:hover svg {
    fill: var(--purple) !important;
  }
}
