#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  gap: 25px;
}

#intro-container {
  height: 100%;
  width: var(--mainMargin);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#me-container {
  position: relative;
  margin-top: 240px;
  height: 100%;
}

.shape1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100vw;
  z-index: 2;
}
.shape-mobile1 {
  display: none;
}

#me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
  height: 100%;
  object-fit: contain;
}

.green-purple-shadow {
  position: absolute;
  top: 29px;
  left: -420px;
  z-index: 0;
}

#introduceing-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  bottom: 100px;
}

.text-container {
  display: flex;

  > span:first-child {
    font-size: 64px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    height: 175px;
  }
}

.name-container {
  display: flex;
  flex-direction: column;

  & span:first-child {
    font-size: 90px;
    font-weight: bold;
    height: 108px;
  }

  & span:nth-child(2) {
    font-size: 58px;
    color: var(--purple);
    height: 70px;
  }
}

#references-line {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
}

.social-media-container {
  & a {
    display: flex;
    align-items: center;
  }
}
.line {
  width: 151px;
  height: 4px;

  background-color: var(--purple);
}

.scrollDown {
  height: 165px;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: 64px;
  writing-mode: vertical-rl;

  & svg {
    fill: white;
    transition: 125ms ease-in;
    z-index: 10;
    cursor: pointer;
  }
  & a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &:hover svg {
    fill: var(--purple) !important;
  }
}

@media (max-width: 1850px) {
}
@media (max-width: 1650px) {
}
@media (max-width: 1500px) {
  .shape1 {
    top: 74%;
    left: 50%;
    transform: translate(-50%, -26%);
  }

  #references-line {
    top: 625px;
  }
  .text-container {
    > span:first-child {
      font-size: 41px;
      height: 111px;
    }
  }

  .name-container {
    & span:first-child {
      font-size: 57px;
      height: 69px;
    }
    & span:nth-child(2) {
      font-size: 36px;
      height: 48px;
    }
  }

  #intro-container {
  }
}

@media (max-width: 1160px) {
  .shape1 {
    top: 78%;

    transform: translate(-50%, -22%);
  }

  #me {
    height: 80%;
  }
}

@media (max-width: 1060px) {

  #intro-container{
    justify-content: space-between;
  }
  #me {
    height: 80%;
    left: 95%;
    transform: translate(-5%, -50%);
  }
  .button-green {
    margin-top: 16px;
  }

  .mail {
    display: none !important;
  }

  .scroll-down {
    display: none !important;
  }
}

@media (max-height: 650px) {
}
// @media (max-width: 972px){
//   .shape-mobile1 {
//     top: -55%;
//   }
// }
// @media (max-width: 931px){
//   .shape-mobile1 {
//     top: -50%;
//   }
// }
// @media (max-width: 886px){
//   .shape-mobile1 {
//     top: -45%;
//   }
// }
// @media (max-width: 846px){
//   .shape-mobile1 {
//     top: -40%;
//   }
// }
// @media (max-width: 804px){
//   .shape-mobile1 {
//     top: -35%;
//   }
// }
// @media (max-width: 762px){
//   .shape-mobile1 {
//     top: -30%;
//   }
// }
// @media (max-width: 720px){
//   .shape-mobile1 {
//     top: -25%;
//   }

// }
