#intro {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  gap: 25px;
}

#intro-container {
  width: var(--mainMargin);
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

#me-container {
  position: relative;
}

.shape1 {
  position: absolute;
  top: 182px;
  right: 0;
  width: 100%;
  z-index: 2;
}

#me {
  // transform: rotate(4deg);
  position: relative;
  top: 20px;
  z-index: 1;
  height: 1000px;
  object-fit: contain;
}

.green-purple-shadow {
  position: absolute;
  top: 170px;
  left: -200px;
  z-index: 0;
}

#introduceing-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  bottom: 190px;
}

.text-container {
  display: flex;

  > span:first-child {
    font-size: 64px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    height: 175px;
  }
}

.name-container {
  display: flex;
  flex-direction: column;

  & span:first-child {
    font-size: 90px;
    font-weight: bold;
    height: 108px;
  }

  & span:nth-child(2) {
    font-size: 58px;
    color: var(--purple);
    height: 70px;
  }
}

#references-line {
  position: absolute;
  top: 650px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 2;
}


.social-media-container{
  & a{
    display: flex;
    align-items: center;
  }


}
.line {
  width: 151px;
  height: 4px;

  background-color: var(--purple);
}

.scrollDown {
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 64px;
  writing-mode: vertical-rl;
  & svg {
    fill: white;
    transition: 125ms ease-in;
    z-index: 10;
    cursor: pointer;
  }
  & a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &:hover svg {
    fill: var(--purple) !important;
  }
}

@media (max-width: 1850px) {
  .shape1 {
  }

 
}
@media (max-width: 1650px) {
  .shape1 {
  }
  #me {
    height: 800px;
  }
}
@media (max-width: 1500px) {
  #me {

  }

  .shape1{
    top: 260px;
  }

  #references-line{
    top: 625px;
  }
  .text-container {
    > span:first-child {
      font-size: 41px;
      height: 111px;
    }
  }

  .name-container {
    & span:first-child {
      font-size: 57px;
      height: 69px;
    }
    & span:nth-child(2) {
      font-size: 36px;
      height: 48px;
    }
  }

  #intro-container {

  }
}

@media (max-width: 1160px) {
  .shape1{
    top: 300px;
  }
}
@media (max-width: 1060px) {
  #references-line{
    top: 490px;
  }

  #me {
    top: 0px;
  }
}
