<section id="skills" #skills>
  <img class="shape3" src="../../assets/img/shape3.svg" alt="" />
  <div id="skills-container">
    <button
      onclick="window.location.href='#contact'"
      class="button-green skills-button skills-button-mobile"
      [ngClass]="{ 'ger-btn': dataService.lang === 'de' }"
    >
      @if (dataService.lang ==='en') { Get in touch }@else { Kontakt aufnehmen }
    </button>
    <div
      data-aos="fade-right"
      data-aos-delay="225"
      data-aos-easing="ease-in-out"
      class="skill-icons-container"
    >
      <div class="skill-icons" *ngFor="let imageUrl of imageUrls">
        <img class="skill-icon" [src]="imageUrl" alt="Icon" />
        <p>{{ getFileName(imageUrl) }}</p>
      </div>
      <div class="skill-icons">
        <img
          class="skill-icon"
          src="../../assets/img/icons/challengeMe.png"
          alt="Icon"
          [title]="
            dataService.lang === 'en'
              ? 'I am always happy to learn new technologies,just tell me what you need.'
              : 'Ich bin immer gerne bereit, neue Technologien zu erlernen, sagen Sie mir einfach, was Sie brauchen.'
          "
        />
        <p>Challenge me</p>
      </div>
    </div>

    <div
      data-aos="fade-left"
      data-aos-delay="400"
      data-aos-easing="ease-in-out"
      id="my-skills-container"
    >
      <div id="skills-text">
        <div class="headline-container">
          @if (dataService.lang === 'en') {
          <h1>My skills</h1>
          } @else {
          <h1 class="h1-german">Meine Fähigkeiten</h1>
          }
        </div>
        @if (dataService.lang === 'en') {
        <p>
          I have gained experience in building projects with various front end
          technologies and concepts.
        </p>
        } @else {
        <p>
          Ich habe Erfahrung im Erstellen von Projekten mit verschiedenen
          Frontend-Technologien und -Konzepten gesammelt.
        </p>
        }
        <div style="display: none" class="skills-line skills-line-mobile"></div>
      </div>
      <div class="skills-line"></div>
      @if (dataService.lang === 'en') {
      <button
        onclick="window.location.href='#contact'"
        class="button-green skills-button"
      >
        Get in touch
      </button>
      } @else {
      <button
        onclick="window.location.href='#contact'"
        class="button-green skills-button ger-btn"
      >
        Kontakt aufnehmen</button
      >}
    </div>
  </div>
</section>
