#portfolio {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 3;
}

#portfolio-container {
  display: flex;
  flex-direction: column;
  width: var(--mainMargin);
  justify-content: space-between;
}

#headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 64px;
  & h1 {
    font-size: 90px;
  }
}

#headline {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.short-line {
  width: 128px;
  height: 4px;
  background-color: var(--purple);
}

.long-line {
  width: 712px;
  height: 4px;
  background-color: var(--purple);
}

.projekts-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  & img {
    width: 40%;
  }
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
.projekt-description {
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 40%;

  & h2 {
    font-size: 32px;
    margin: 0;
    color: var(--purple);
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 86px;
}

.tech-font {
  font-size: 23px;
  color: var(--green);
}
