#portfolio {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 3;
  overflow: hidden;
}

.portfolio-description {
  text-align: center;
}

#portfolio-container {
  display: flex;
  flex-direction: column;
  width: var(--mainMargin);
  justify-content: space-between;
}

#headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 64px;
  & h1 {
    font-size: 90px;
  }
}

#headline {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.short-line {
  width: 128px;
  height: 4px;
  background-color: var(--purple);
}

.long-line {
  width: 712px;
  height: 4px;
  background-color: var(--purple);
}

.shape4 {
  position: absolute;
  right: -512px;
  top: 265px;
  z-index: 0;
}
.shape5 {
  position: absolute;
  left: -512px;
  bottom: 265px;
  z-index: 0;
}

.projekts-container {
  z-index: 1;
  display: flex;

  align-items: center;
  justify-content: space-between;

  & img {
    width: 40%;
  }
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
.projekt-description {
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 40%;

  & h2 {
    font-size: 32px;
    margin: 0;
    color: var(--purple);
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 86px;
}

.tech-font {
  font-size: 23px;
  color: var(--green);
}

@media (max-width: 1850px) {
}
@media (max-width: 1650px) {
}
@media (max-width: 1500px) {
  #portfolio {
    gap: 50px;
  }
  #portfolio-container {
    gap: 100px;
  }

  #headline-container {
    justify-content: center;
    margin-top: 100px;
    & h1 {
      margin: 0;
    }
  }
  .long-line {
    width: 712px;
    &:first-of-type {
      display: none;
    }
  }

  .short-line {
    width: 712px;
  }
}
@media (max-width: 1160px) {
}
@media (max-width: 1060px) {
  .projekts-container {
    & img {
      width: 55%;
    }
  }

  .buttons-container {
    gap: 43px;
  }
}

@media (max-width: 768px) {
  #portfolio {
    gap: 16px;
  }

  .portfolio-description {
    width: 90%;
  }

  #portfolio-container {
    gap: 35px;
  }

  .projekt-description {
    width: 90%;
  }
  #headline-container {
    & h1 {
      font-size: 45px;
    }
  }

  .projekts-container {
    width: 100%;
    flex-direction: column;
    & img {
      width: 90%;
    }
    &:nth-of-type(even) {
      flex-direction: column;
    }
  }

  .buttons-container {
    justify-content: space-between;
  }
}
