#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
}

