<div class="project">
    <img [src]="projectImage" alt="{{ projectName }} Bild">
    <h3>{{ projectName }}</h3>
    <p>{{ description }}</p>
  
    <div class="technologies">
      <strong>Technologien:</strong>
      <ul>
        <li *ngFor="let tech of technologies">{{ tech }}</li>
      </ul>
    </div>
  
    <div class="buttons">
      <a [href]="githubLink" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a [href]="projectUrl" target="_blank" rel="noopener noreferrer">Projektseite</a>
    </div>
  </div>